@font-face {
  font-family: "CalSans";
  src: url("./CalSans-SemiBold.woff");
}

@font-face {
  font-family: Inter;
  font-weight: 700;
  src: url("./Inter-Bold.ttf");
}
@font-face {
  font-family: Inter;
  font-weight: 400;
  src: url("./Inter-Regular.ttf");
}
